.mainField {
  display: none;
}
.head-name {
  color: #002752;
  text-align: center;
  font-size: 24px;
}
.invent-name {
  color: #002752;
  font-size: 20px;
}
.game-input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 180px;
  height: 40px;
}
.user-input {
  width: 210px;
  height: 30px;
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #002752;
  outline: none;
  font-size: 16px;
  color: #002752;
  font-weight: 500;
}
.game-text p {
  padding: 10px;
  background-color: #D1ECF1;
  border: 2px solid #69c;
  border-radius: 10px;
}
.showHelp {
  padding: 10px;
  background-color: #FFE28B;
  border: 2px solid #FFA12F;
  border-radius: 10px;
  margin-bottom: 16px;
}
.startBtnDiv {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  /* display: none; */
}
.restartBtnDiv {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  display: none;
}
.startButton {
  padding: 10px;
  background-color: #ffffff;
  color: #69c;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px solid #69c;
  border-radius: 8px;
  outline: none;
}
.helpBtnDiv {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
.heplButton {
  padding: 10px;
  /* width: 120px;
  margin-left: auto;
  margin-right: auto; */
  background-color: #69c;
  color: #ffffff;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  outline: none;
}
.helpContent {
  padding: 10px;
  background-color: #FFE28B;
  border: 2px solid #FFA12F;
  border-radius: 10px;
  margin-bottom: 16px;
  display: none;
}
.showInventory {
  padding: 10px;
  border-radius: 10px;
  border-width: 2px;
  background-color: #FFF3CD;
  border-color: #FFEEBA;
  margin-bottom: 16px;
}
.invent-name {
  text-align: center;
  margin: 10px auto;
}
.showInventory ul {
  margin-bottom: 10px;
}
.displayMap {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #002752;
  margin-bottom: 16px;
}
.mapTable {
  width: 90%;
  border: none;
  border-collapse: separate;
  empty-cells: hide;
  border-spacing: 5px;
  text-align: center;
}
.mapTable td {
  border: 2px solid #69c;
  border-radius: 4px;
  padding: 4px;
}
.hideMapCell {
  visibility: hidden;
}
.showMapCell {
  visibility: visible;
}
.currentLocationMap {
  font-weight: 600;
  color: #002752;
}
.displayInventory {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #002752;
  margin-bottom: 16px;
}
.inventoryItem {
  padding-left: 20px;
  font-size: 18px;
  font-weight: normal;
}
.pickupItem p {
  background-color: #88F993;
  border-color: #71D07B;
}
.incorrectCommand p {
  background-color: #F6D5D8;
  border-color: #F5BCC2;
}
